In [1]:
#importing libraries
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [2]:
#importing data from source
try:
    apartments = pd.read_csv('data/apartments.csv')
    bookings = pd.read_csv('data/bookings.csv')
    user_viewing = pd.read_csv('data/user_viewing.csv')
    apartment_attributes = pd.read_csv('data/apartment_attributes.csv')
except FileNotFoundError: # Error message if data is not found
    print('File not found')
else:
    print("Data loaded successfully")

Data loaded successfully

In [3]:
#checking the data quality
apartments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       200000 non-null  int64
 1   title                    200000 non-null  object
 2   source                   200000 non-null  object
 3   price                    200000 non-null  float64
 4   currency                 200000 non-null  object
 5   listing_created_on       200000 non-null  object
 6   is_active                200000 non-null  bool
 7   last_modified_timestamp  200000 non-null  object
dtypes: bool(1), float64(1), int64(1), object(5)
memory usage: 10.9+ MB

In [4]:
#checking the data quality
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   booking_id      500000 non-null  int64
 1   user_id         500000 non-null  int64
 2   apartment_id    500000 non-null  int64
 3   booking_date    500000 non-null  object
 4   checkin_date    500000 non-null  object
 5   checkout_date   500000 non-null  object
 6   total_price     500000 non-null  float64
 7   currency        500000 non-null  object
 8   booking_status  500000 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 34.3+ MB

In [5]:
#checking the data quality
user_viewing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         300000 non-null  int64
 1   apartment_id    300000 non-null  int64
 2   viewed_at       300000 non-null  object
 3   is_wishlisted   300000 non-null  bool
 4   call_to_action  300000 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 9.4+ MB

In [6]:
#checking the data quality
apartment_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             200000 non-null  int64
 1   category       200000 non-null  object
 2   body           200000 non-null  object
 3   amenities      200000 non-null  object
 4   bathrooms      200000 non-null  int64
 5   bedrooms       200000 non-null  int64
 6   fee            200000 non-null  float64
 7   has_photo      200000 non-null  bool
 8   pets_allowed   70956 non-null   object
 9   price_display  200000 non-null  object
 10  price_type     200000 non-null  object
 11  square_feet    200000 non-null  int64
 12  address        200000 non-null  object
 13  cityname       200000 non-null  object
 14  state          200000 non-null  object
 15  latitude       200000 non-null  float64
 16  longitude      200000 non-null  float64
dtypes: bool(1), float64(3), int64(4), object(9)
memory usage: 24.6+ MB

In [7]:
#checking the data quality
def find_missing_values(df):
    missing_values = df.isnull().sum()
    return missing_values


missing_values = find_missing_values(apartments)
print(missing_values)

id                         0
title                      0
source                     0
price                      0
currency                   0
listing_created_on         0
is_active                  0
last_modified_timestamp    0
dtype: int64

In [9]:
missing_values = find_missing_values(bookings)
print(missing_values)

booking_id        0
user_id           0
apartment_id      0
booking_date      0
checkin_date      0
checkout_date     0
total_price       0
currency          0
booking_status    0
dtype: int64

In [10]:
missing_values = find_missing_values(user_viewing)
print(missing_values)

user_id           0
apartment_id      0
viewed_at         0
is_wishlisted     0
call_to_action    0
dtype: int64

In [11]:
missing_values = find_missing_values(apartment_attributes)
print(missing_values)

id                    0
category              0
body                  0
amenities             0
bathrooms             0
bedrooms              0
fee                   0
has_photo             0
pets_allowed     129044
price_display         0
price_type            0
square_feet           0
address               0
cityname              0
state                 0
latitude              0
longitude             0
dtype: int64

In [13]:
apartment_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             200000 non-null  int64
 1   category       200000 non-null  object
 2   body           200000 non-null  object
 3   amenities      200000 non-null  object
 4   bathrooms      200000 non-null  int64
 5   bedrooms       200000 non-null  int64
 6   fee            200000 non-null  float64
 7   has_photo      200000 non-null  bool
 8   pets_allowed   70956 non-null   object
 9   price_display  200000 non-null  object
 10  price_type     200000 non-null  object
 11  square_feet    200000 non-null  int64
 12  address        200000 non-null  object
 13  cityname       200000 non-null  object
 14  state          200000 non-null  object
 15  latitude       200000 non-null  float64
 16  longitude      200000 non-null  float64
dtypes: bool(1), float64(3), int64(4), object(9)
memory usage: 24.6+ MB

In [14]:
print(pd.io.sql.get_schema(apartment_attributes, name='apartment_attributes'))

CREATE TABLE "apartment_attributes" (
"id" INTEGER,
  "category" TEXT,
  "body" TEXT,
  "amenities" TEXT,
  "bathrooms" INTEGER,
  "bedrooms" INTEGER,
  "fee" REAL,
  "has_photo" INTEGER,
  "pets_allowed" INTEGER,
  "price_display" TEXT,
  "price_type" TEXT,
  "square_feet" INTEGER,
  "address" TEXT,
  "cityname" TEXT,
  "state" TEXT,
  "latitude" REAL,
  "longitude" REAL
)

In [15]:
print(pd.io.sql.get_schema(apartments, name='apartments'))

CREATE TABLE "apartments" (
"id" INTEGER,
  "title" TEXT,
  "source" TEXT,
  "price" REAL,
  "currency" TEXT,
  "listing_created_on" TEXT,
  "is_active" INTEGER,
  "last_modified_timestamp" TEXT
)

In [16]:
print(pd.io.sql.get_schema(bookings, name='bookings'))

CREATE TABLE "bookings" (
"booking_id" INTEGER,
  "user_id" INTEGER,
  "apartment_id" INTEGER,
  "booking_date" TEXT,
  "checkin_date" TEXT,
  "checkout_date" TEXT,
  "total_price" REAL,
  "currency" TEXT,
  "booking_status" TEXT
)

In [17]:
print(pd.io.sql.get_schema(user_viewing, name='user_viewing'))

CREATE TABLE "user_viewing" (
"user_id" INTEGER,
  "apartment_id" INTEGER,
  "viewed_at" TEXT,
  "is_wishlisted" INTEGER,
  "call_to_action" TEXT
)

In [18]:
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine
import pymysql
import logging

# Configure logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

load_dotenv() # loading the environment variables

DB_HOST = os.getenv("DB_HOST")
DB_PORT = int(os.getenv("DB_PORT", 3306))  # Default to 3306 if not set
DB_USER = os.getenv("DB_USER")
DB_NAME = os.getenv("DB_NAME")
DB_PASSWORD = os.getenv("DB_PASS")

In [23]:
try:
    conn = mysql.connector.connect(
        host=DB_HOST,
        user=DB_USER,
        password=DB_PASSWORD
    )
    cursor = conn.cursor()
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {DB_NAME}")
    logger.info(f"Database `{DB_NAME}` checked/created.")
    cursor.close()
    conn.close()
except mysql.connector.Error as err:
    logger.error(f"Error creating database: {err}")

INFO:mysql.connector:package: mysql.connector.plugins
INFO:mysql.connector:plugin_name: mysql_native_password
INFO:mysql.connector:AUTHENTICATION_PLUGIN_CLASS: MySQLNativePasswordAuthPlugin
INFO:__main__:Database `real_estate` checked/created.

In [24]:
#Connecting to database
import mysql.connector
try:
    engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")
except Exception as e:
    print(f"Error while connecting to database: {e}")
else:
    print("Connection to database successful")

Connection to database successful

In [25]:
# Function toCreate table schema
def create_table_schema(df, table_name, engine):
    """Create or replace table schema in the database."""
    try:
        df.head(0).to_sql(table_name, con=engine, if_exists='replace', index=False)
        logger.info(f"Schema for {table_name} created.")
    except Exception as e:
        logger.error(f"Error creating schema for {table_name}: {e}")

In [26]:
# Function to Load data into the database
def insert_data_in_chunks(df, table_name, engine, chunk_size=1000):
    """Insert data into a table in chunks."""
    try:
        for i in range(0, len(df), chunk_size):
            df.iloc[i:i+chunk_size].to_sql(table_name, con=engine, if_exists='append', index=False)
            logger.info(f"Inserted {i + chunk_size} rows into {table_name}")
    except Exception as e:
        logger.error(f"Error inserting data into {table_name}: {e}")

In [ ]:
# Create tables and insert data
if engine:
    # Manually input each table
    tables = {
        "apartments": apartments,  
        "bookings": bookings,  
        "apartments_attributes": apartment_attributes,  
        "user_viewing": user_viewing  
    }

    for table_name, df in tables.items():
        create_table_schema(df, table_name, engine)
        insert_data_in_chunks(df, table_name, engine)

INFO:__main__:Schema for apartments created.
INFO:__main__:Inserted 1000 rows into apartments
INFO:__main__:Inserted 2000 rows into apartments
INFO:__main__:Inserted 3000 rows into apartments
INFO:__main__:Inserted 4000 rows into apartments
INFO:__main__:Inserted 5000 rows into apartments
INFO:__main__:Inserted 6000 rows into apartments
INFO:__main__:Inserted 7000 rows into apartments
INFO:__main__:Inserted 8000 rows into apartments
INFO:__main__:Inserted 9000 rows into apartments
INFO:__main__:Inserted 10000 rows into apartments
INFO:__main__:Inserted 11000 rows into apartments
INFO:__main__:Inserted 12000 rows into apartments
INFO:__main__:Inserted 13000 rows into apartments
INFO:__main__:Inserted 14000 rows into apartments
INFO:__main__:Inserted 15000 rows into apartments
INFO:__main__:Inserted 16000 rows into apartments
INFO:__main__:Inserted 17000 rows into apartments
INFO:__main__:Inserted 18000 rows into apartments
INFO:__main__:Inserted 19000 rows into apartments
INFO:__main__:Inserted 20000 rows into apartments
INFO:__main__:Inserted 21000 rows into apartments
INFO:__main__:Inserted 22000 rows into apartments
INFO:__main__:Inserted 23000 rows into apartments